body{
  font-family: sans-serif;
  align-content: center;
}

button{
  border: 1px solid black;
  padding: 8px;
  font: innherit;
  cursor: pointer;
  outline: none;
}

button:hover{
  background-color: #664499;
  color: white;
  boader: none;
}
