@import "./_colors.scss";

#randomInt {
  background-color: $main;
  border: 1px solid black;
  color: white;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

#randomRange {
  background-color: $secondary;
  border: 1px solid black;
  color: white;
  padding: 5px;
  cursor: pointer;
  outline: none;
}
